## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 3
print(a)

3

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
b = 8.5
print(type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre = "Osvaldo"
print(nombre)

Osvaldo

5) Crear una constante que contenga el número Pi

In [5]:
PI = 3.141592
print(PI)

3.141592

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [18]:
E = 2.718281828
print(round(E,4))

2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
caracteres = "True"
boolean = True
print(f"Esta es una cadena de caracteres, {caracteres} y esto es un operador booleano, {boolean}")

Esta es una cadena de caracteres, True y esto es un operador booleano, True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:
print(type(caracteres))
print(type(boolean))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
c = 5+7.8
print(c)

12.8

11) Realizar una operación de suma de un número definido como string con un entero

In [17]:
d = 10
e = "20"
f = d+int(e)
print(f)

30

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [20]:
g = E**3
print(g)

20.085536913011932

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [25]:
numero = int(input("Ingrese un número por teclado"))
multiplica = 5
resultado = numero * multiplica
print("Ingresó",numero,"multiplicado por", multiplica, ", el resultado es",resultado)

Ingresó 200 multiplicado por 5 , el resultado es 1000

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [26]:
mi_cociente = 27/4
print(mi_cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [27]:
mi_cociente_entero = int(mi_cociente)
print(mi_cociente_entero)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [28]:
mi_resto = 27%4
print(mi_resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [29]:
print(4*mi_cociente_entero+mi_resto)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [30]:
# "2" es un cadena de caracteres y 2 es un entero
print("2"== 2)

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [31]:
print(int("2") == 2)
print("2" == str(2))

True
True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
# Comilla simple y la coma hacen que sea una cadena de caracteres
h = float(3.8)
print(h)

3.8

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [40]:
print("Resultado de concatenar '2'+'2':  "+ '2'+'2')
print("Resultado de sumar 2+2:  ", 2+2)

Resultado de concatenar '2'+'2':  22
Resultado de sumar 2+2:   4

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [44]:
menu = """
1 - Pizza
2 - Empanadas
3 - Milanesas
                4 - Salir

"""
print(menu)

1 - Pizza
2 - Empanadas
3 - Milanesas
                4 - Salir

23) Crear una lista que contenga los números del 1 al 10

In [1]:
numeros= [1,2,3,4,5,6,7,8,9,10]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [3]:
print(numeros[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [5]:
numeros[3] = "Osvaldo"
print(numeros)

[1, 2, 3, 'Osvaldo', 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [17]:
mi_matriz = [ ["A","B","C"], ["D","E","F"], ["G","H","I"] ]

27) Imprimir la matriz creada en el punto 26

In [11]:
print(mi_matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [24]:
print(mi_matriz[1][1])
mi_matriz[1][1] = "Z"
print(mi_matriz)

Z
[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [27]:
mi_matriz[0][0] = 1
mi_matriz[0][1] = 2
mi_matriz[0][2] = 3
print(mi_matriz)
print(type(mi_matriz))

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]
<class 'list'>

30) Crear una tupla que contenga 5 marcas de ropa

In [29]:
mi_tupla = ("Levis", "Adidas", "Nike", "Lacoste","Gucci")
print(mi_tupla)

('Levis', 'Adidas', 'Nike', 'Lacoste', 'Gucci')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [31]:
print(mi_tupla[0])

Levis

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [34]:
# Las tuplas son inmutables TypeError: 'tuple' object does not support item assignment
# mi_tupla[1] = "Cartier"

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [35]:
mis_hobbies = ["Carpintería", "Programación", "MotoGP"]
mi_diccionario = {"nombre" : "Osvaldo", "apellido" : "Daziano", "edad" : 66 , "hobbies" : mis_hobbies}
print(mi_diccionario)

{'nombre': 'Osvaldo', 'apellido': 'Daziano', 'edad': 66, 'hobbies': ['Carpintería', 'Programación', 'MotoGP']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [37]:
print(mi_diccionario["hobbies"])

['Carpintería', 'Programación', 'MotoGP']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [38]:
mi_diccionario["edad"] = 25
print(mi_diccionario)

{'nombre': 'Osvaldo', 'apellido': 'Daziano', 'edad': 25, 'hobbies': ['Carpintería', 'Programación', 'MotoGP']}